html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}


figure {
    margin: 0;
}

form {
    margin: 0;
}


fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: 'Gotham Pro', 'Isidora Soft';
    src: url("../fonts/gothampro_bold.ttf") format("truetype"), 
    url("../fonts/IsidoraSoft-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    /* url("../fonts/gothampro.ttf") format("truetype"), */
}
/* main start*/

body {
    background: url("../img/background-full.png") no-repeat center;
    background-size: cover;
    font-family: 'Gotham Pro';
    font-weight: 400;
}

button{
    cursor: url("../img/svg/cursor.svg"), pointer;
}

.wrapper{
    max-width: 550px;
    height: 660px;
    margin: 134px auto;
    border-radius: 50px;
    background: rgba(238, 255, 247, 0.89);
    text-align: center;
}

.main__intro{
    font-weight: 700;
    font-size: 35.8776px;
    line-height: 34px;
    letter-spacing: -0.05em;
    color: #282829;
    padding-top: 61px;
    padding-bottom: 16.6px;
}

.time_text{
    font-size: 21.1586px;
    line-height: 20px;
    letter-spacing: -0.05em;
}

.wrapper__flex{
    padding-bottom: 38.24px;
}

.main__description{
    font-family: 'Isidora Soft';
    padding-top: 16.8px;
    font-weight: 700;
    font-size: 55.1962px;
    line-height: 91.46%;
    padding-bottom: 37.6px;
    max-width: 340px;
    color: #815BFE;
    margin: auto;
}

.wrapper__price__nft{
    margin-top: 134px;
    max-width: 388px;
    height: 120px;
    background: #8E6EFC;
    border-radius: 31px;
    margin: auto;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper__desc__nft{
    padding-right: 20px;
}

.price__description{
    font-size: 21.1586px;
    line-height: 20px;
    letter-spacing: -0.05em;
    padding-right: 28px;
    padding-bottom: 6.7px;
    padding-top: 34px;
    text-align: right;
}

.price__per-each{
    font-weight: 900;
    font-size: 26.5816px;
    line-height: 25px;
    padding-right: 28px;
}

.box__nft{
    width: 64px;
    height: 64px;
    border-radius: 16px;
    margin: 28px 0 28px 28px;
    background: #C4C4C4;
}

.wrap__count{
    max-width: 388px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 9px;
    justify-content: space-between;
}

.wrapper__button__count{
    display: flex;
    max-width: 150px;
    margin: auto;
    margin-left: 0;
}

.count__button{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: none;
}

.count__minus{
    margin-right: 15.44px;
    background: url("../img/svg/button-minus.svg");
    
}

.count__plus{
    margin-left: 15.44px;
    background: url("../img/svg/button-plus.svg");
}

.count{
    font-size: 21.1586px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.05em;
}

.set-max__button{
    width: 125px;
    height: 42.32px;
    border-radius: 32.1978px;
    background: #8E6EFC;
    color: #FFFFFF;
    border: none;
    font-size: 21.1586px;
    line-height: 20px;
    align-items: center;
    box-shadow: 0px 4px #724DEB;
}

.set__mint{
    right: 0;
}

.wrap__count__second{
    max-width: 388px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 36px;
    justify-content: space-between;
    align-items: center;
}

.wrapper__button__total{
    display: flex;
    margin-left: 0;
}

.total__text{
    font-size: 21.1586px;
    line-height: 20px;
    color: #282829;
    margin-left: 0;
    padding-top: 3px;
    margin-right: 11px;
}

.ETH{
    font-weight: 900;
    font-size: 26.5816px;
    line-height: 25px;
    color: #724DEC;
}

.mint-count{
    padding-top: 10px;
}

.count__button:active{
    opacity: .6;
}

.set-max__button:hover, 
.set__mint:hover{
    background: #EF8CEF;
    box-shadow: 0 4px #C653CF;
}

.set-max__button:active,
.set__mint:active{
    box-shadow: none;
    position: relative;
    top: 4px;
}


@media screen and (max-width: 355px) {
    body {
        background: url("../img/background-mobile.png") no-repeat center;
        background-size: cover;
    }

    .wrapper{
        max-width: 264px;
        height: 324px;
        border-radius: 20px;
    }

    .wrapper__flex{
        padding-bottom: 18px;
    }

    .wrapper__price__nft{
        max-width: 183.84px;
        height: 57px;
        border-radius: 14.7262px;
    }

    .wrapper__desc__nft{
        padding-right: 0;
    }

    /* .wrapper__button__count{
        max-width: 100px;
    } */

    .wrap__count{
        max-width: 184px;
        margin-top: 0;
        align-items: center;
    }

    .wrapper__button__count{
        max-width: 84px;
        height: 15px;
        margin-top: 0;
        margin-bottom: 0;
    
    }

    .wrap__count__second{
        margin-top: 19.92px;
        max-width: 184px;
    }

    .box__nft{
        width: 30px;
        height: 30px;
        border-radius: 7.60061px;
        margin: 13px 0 13px 13px;
    }

    .main__intro{
        font-size: 17.0432px;
        line-height: 16px;
        padding-top: 27px;
        padding-bottom: 10px;
    }

    .time_text{
        font-size: 15px;
        line-height: 14px;
    }

    .main__description{
        font-size: 26.2203px;
        line-height: 91.46%;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .price__description{
        font-size: 10.0511px;
        line-height: 10px;
        padding-right: 12.9px;
        padding-bottom: 2.67px;
        padding-top: 16.8px;
        text-align: right;
    }

    .price__per-each{
        font-size: 12.6273px;
        line-height: 12px;
        padding-right: 13px;

    }

    .count__button{
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        padding: 0;

    }

    .count{
        font-size: 15px;
        line-height: 14px;
    }

    .set-max__button{
        width: 59px;
        height: 20.1px;
        border-radius: 15.2952px;
        font-size: 10.0511px;
        line-height: 10px;
    }
    
    .total__text{
        font-size: 10.0511px;
        line-height: 10px;
        margin-right: 5.5px;
    }

    .ETH{
        font-size: 12.6273px;
        line-height: 12px;
    }

    .mint-count{
        font-size: 10px;
        line-height: 10px;
        padding: 8px 0 0 0;
    }

    .count__minus{
        background: url("../img/svg/button-minus-min.svg");
    }

    .count__plus{
        background: url("../img/svg/button-plus-min.svg");
    }
}